.articles-section {
  padding: 0;
  .container-fluid {
    .row {
      .categories-column {
        background: #27272a;
        padding: 48px;
        @media (max-width: 944px) {
          padding: 32px;
        }
        .content {
          p {
            margin-top: 12px;
            font-size: 16px;
            font-weight: 600;
          }
          .categories-row {
            padding: 16px 11px;
            .categorie {
              padding: 0;
              padding-right: 8px;
              .content {
                margin-bottom: 8px;
                background: linear-gradient(90deg, #18181b, #242427);
                display: flex;
                justify-content: space-between;

                border-left: 1px solid #ffffff00;
                transition: 0.3s all;
                &:hover {
                  border-color: #ffffff6b;
                  .number-box {
                    background: linear-gradient(
                      333deg,
                      #f43f5e 3%,
                      #f59e0b 54%,
                      #fff
                    );
                    color: #111827;
                  }
                }
                p {
                  margin: 0;
                  font-size: 14px;
                  font-weight: 600;
                  padding: 16px;
                }
                .number-box {
                  background: #3f3f46;
                  border-left: 1px solid #f43f5e;
                  transition: 0.3s all;
                  padding: 16px 20px;
                }
              }
            }
          }
        }
      }

      .newslatter-column {
        background: linear-gradient(45deg, #18181b, #27272a);
        padding: 48px;
        @media (max-width: 944px) {
          padding: 32px;
        }
        .content {
          h6 {
            margin-top: 24px;
            color: #fff;
            font-size: 20px;
            margin-bottom: 15px;
          }
          p {
            font-size: 16px;
            margin-bottom: 25px;
            margin-top: 0;
          }
          form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            input#email {
              width: 76%;
              background: #262629;
              padding: 12px;
              border: none;
              border-bottom: 1px solid #3b82f6;
              color: #d1d5cf;
              font-size: 17px;
            }
            .button {
              input[type="submit"] {
                @media (max-width: 431px) {
                  padding: 11px 8px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    .blog-row {
      background: linear-gradient(90deg, #18181b, #212124);
      padding: 48px;
      border-top: 1px solid;
      border-image: linear-gradient(to right, #3c81f4, #f43f5e, #f59e0b) 1 0 0 0;
      @media (max-width: 944px) {
        padding: 32px;
      }
      .content {
        .header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 48px;
          @media (max-width: 458px) {
            flex-direction: column;
          }
          .left {
            @media (max-width: 458px) {
              margin-bottom: 27px;
            }
            p {
              margin-top: 15px;
            }
          }
          .right {
            p {
              margin: 0;
              font-family: "Space Mono", monospace;
              font-size: 18px;
              border-bottom: 1px solid #ffffff29;
              padding-bottom: 14px;
            }
          }
        }
        .article-box {
          .item {
            background: linear-gradient(180deg, #18181b, #27272a);
            width: 30%;
            margin: 0 15px;
            padding: 0;
            @media (max-width: 1106px) {
              margin-bottom: 28px;
              width: 28%;
              margin: 0 5px;
            }
            @media (max-width: 767px) {
              width: 100%;
              margin-bottom: 18px;
            }

            &:hover {
              .content {
                h5 {
                  color: #f5a119;
                }
              }
            }
            .blog-img {
              img {
                width: 370px;
                height: 246px;
                object-fit: cover;
                @media (max-width: 1337px) {
                  width: 100%;
                }
              }
            }
            .content {
              padding: 24px;

              h5 {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.3;
                transition: 0.3s all;
                @media (max-width: 1106px) {
                  font-size: 20px;
                }
              }
              p {
                font-size: 16px;
                color: #a1a1aa;
                margin: 15px 0;
              }
              .time {
                font-family: "Space Mono", monospace;
                color: #71717a;
              }
            }
          }
        }
      }
    }
  }
}
