/*### Colors ###*/
$primary: #f59e0b;
$secondry: #f43f5e;
$gray: #b3b3b3;
$dark-grey: #18181b;
$black: black;
$white: white;

/*--### Font Family ###--*/
$font: "Inter", sans-serif;
$second-font: "Space Mono", monospace;
